{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}
</form>

  <br>
  <h3>Or Login With
  <hr>
  <a href="{% url 'social:begin' 'github' %}"><span style="font-size: xx-large" class="{% fa_class 'github' %}"></span></a>
  <a href="{% url 'social:begin' 'twitter' %}"><span style="font-size: xx-large" class="{% fa_class 'twitter' %}"></span></a>
  <a href="{% url 'social:begin' 'facebook' %}"><span style="font-size: xx-large" class="{% fa_class 'facebook' %}"></span></a>
  </h3>
<div style="text-align: right">
  No account?
  <a href="{% url 'core:user:registration' %}">
        {% trans "Register" %} <span class="{% fa_class 'sign-in' %}"></span>
  </a>
  Forgot password?
  <a href="{% url 'core:user:password_reset' %}">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
  </a>
</div>
{% endblock %}

